--- 
--- 

.container {
    position: relative;
  }
  
  .text-block {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .text-block-under {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    background-color: rgb(255, 255, 255);
    color: rgb(15, 15, 15);
    padding-bottom: 0px;
    padding-left: 20px;
    padding-right: 20px;
  }