<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <script src="https://kit.fontawesome.com/587f86e58a.js" crossorigin="anonymous"></script>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
    {% include head-custom.html %}
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% if site.logo %}
          <div class="container">
            <img src="{{site.logo | relative_url}}" alt="ferns-background" style="width:100%;">
            <div class="text-block"> 
              <h3><a href="{{site.gallery | relative_url}}">gallery</a></h3>
              <h3><a href="{{site.projects | relative_url}}">projects</a></h3>
              <h3><a href="{{site.adventures | relative_url}}">adventures</a></h3>
              <h3><a href="{{site.sysadmin | relative_url}}">sysadmin</a></h3>
              <h3><a href="{{site.about | relative_url}}">about</a></h3>
              <h3><a href="{{site.wordle | relative_url}}">oneilldle</a></h3>
              <p>{{ site.description | default: site.github.project_tagline }}</p>
              <br>
            </div>
            <div class="text-block-under"> 
              <br>
              <h1>{% include social-media-links.html %}</h1>
            </div>
        {% endif %}

      </header>
      <section>
        
      {{ content }}
      <br>
      <br>
        <h2>Other links:</h2>

      {% for post in site.posts %}
      <li><a href="{{ post.url | relative_url }}">{{post.title}}</a></li> <br>
      {% endfor %}

      </section>
      <footer>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>